# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=<your_api_key>
LIVEKIT_API_SECRET=<your_api_secret>
LIVEKIT_URL=wss://<project-subdomain>.livekit.cloud


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=



# Enviroment variables needed to connect to the LiveKit server.
# LIVEKIT_URL=ws://127.0.0.1:7880
# LIVEKIT_API_KEY=devkey
# LIVEKIT_API_SECRET=secret

LIVEKIT_URL=wss://murf-lp5eel77.livekit.cloud
LIVEKIT_API_KEY=APIZRK2mURLkTZM
LIVEKIT_API_SECRET=fYlLwQeh2WvSB6t4Q7d2T0pfLV3eggURzbv0tfxod1jE


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
