LIVEKIT_URL=ws://127.0.0.1:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret
GOOGLE_API_KEY=
MURF_API_KEY=
DEEPGRAM_API_KEY=



# LIVEKIT_URL=ws://127.0.0.1:7880
# LIVEKIT_API_KEY=devkey
# LIVEKIT_API_SECRET=secret
LIVEKIT_URL=wss://murf-lp5eel77.livekit.cloud
LIVEKIT_API_KEY=APIZRK2mURLkTZM
LIVEKIT_API_SECRET=fYlLwQeh2WvSB6t4Q7d2T0pfLV3eggURzbv0tfxod1jE
GOOGLE_API_KEY=AIzaSyAzBRUt6QFjJnnX9pWOxFT3mrV7unr8J4o
MURF_API_KEY=ap2_9a2b459f-8833-4394-915d-1cd81c5b2fe0
DEEPGRAM_API_KEY=2419711e6265db55286d29467fa20b983ebd8b02

